<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Cartâo de Visita || Rudr1gu</title>
</head>
<body>
    <main class="corpo" id="corpo">
        <section class="foto">
            <div class="imagen">
            </div>
        </section>
        <section class="texto">
            <h3>Rodrigo Santos</h3>
            <p>I'm a System Development Student.</p>
        </section>
        <section class="rSociais">
            <div class="rSociais">
                <a href="https://www.instagram.com/rudr1gu/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                <a href="https://www.linkedin.com/in/rudr1gu/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.youtube.com/@rudr1gu" target="_blank"><i class='bx bxl-youtube' ></i></a>
                <a href="https://www.github.com/rudr1gu" target="_blank"><i class='bx bxl-github'></i></a>
        </section>
    </main>
</body>
</html>